<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="Data source=DESKTOP-DPB315I;initial catalog=DbNetworkProject;integrated security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>